// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0f62c9;
$secondary: #5b7fa6;
$accent: #dce9f8;

$dark: #111827;
$dark-page: #f3f6fb;

$positive: #23875e;
$negative: #c74343;
$info: #3f83f8;
$warning: #d79a21;
